* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background: #000000 0% 0% no-repeat padding-box;
  }

  .header {
    color: #fff;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
  }

  .header > div {
    flex-grow: 1;
  }

  .round {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .round span:first-child {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: inline-block;
    background-color: #fff;
    margin-right: 15px;
  }

  .search {
    padding: 10px 25px 10px 10px;
    font-size: 15px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    background-image: url("./search-13-16.ico");
    background-position: right;
    background-position-x: 96%;
    background-repeat: no-repeat;
  }

  .search::placeholder {
    color: #fff;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 100px;
  }

  .btn-sec {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: right;
    color: #000;
    font-size: 13px;
  }

  .btn-orange {
    background: #FCB326 0% 0% no-repeat padding-box;
    margin-right: 10px;
  }

  .btn-login {
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .section-box{
    display: flex;
    justify-items: center;
    align-items: stretch;
    justify-content: left;
    height: calc(100vh - 61px);
  }

  .content-box {
    width: 96%;
  }

  .content-box,
  .menu-box {
    transition: transform 350ms ease-in-out;
    transition: all 1s;
  }

  .menu-box {
    width: 3.3%;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #0000002E;
  }

  .form-box {
    width: 80%;
    margin: 30px auto;
  }

  .expanded .content-box {
    width: 85% !important;
  }

  .expanded .menu-box {
    width: 15% !important;
  }

  .progress-maker {
    float: left;
    width: 100%;
    list-style: none;
  }

  .progress-maker li {
    display: inline-block;
    width: 32%;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
  }

  .progress-maker .progress-point {
    width: 20px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C7CCD7;
    margin: auto;
    border-radius: 50px;
  }

  .progress-maker li p {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
  }

  .progress-maker .active .progress-point {
     border: 4px solid #FCB326;
  }

  .progress-maker li:last-child::after {
    content: none;
  }

  .progress-maker li::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    transform: translateX(50%);
    z-index: 2;
    left: 9px;
    top: 8px;
    background: #C7CCD7 0% 0% no-repeat padding-box;
  }

  .progress-maker li.active::after {
    background: #FCB326 0% 0% no-repeat padding-box;
  }

  .progress-maker li.active::after .progress-point {
     border: 4px solid #FCB326;
  }

  .flex-row,
  .form-box {
    display: flex;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
  }

  .flex-row {
    width: 100%;
    margin-top: 20px;
  }

  .flex-row h2 {
    font: normal normal 600 22px/26px Montserrat;
    letter-spacing: 0px;
    color: #000000;
  }

  .flex-row p {
    font: normal normal 300 15px/24px Montserrat;
    letter-spacing: 0px;
    color: #373737;
    margin-bottom: 10px;
  }

  .flex-row .btn-orange {
    margin-top: 10px;
  }

  .flex-row input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C7CCD7;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
  }

  .flex-row > div {
   width: 45%;
  }

  .flex-row > div.or {
    width: 10%;
    min-height: 200px;
  }

  .or-vertical {
    width: 1px;
    position: relative;
    height: 100%;
    background-color: #ccc;
    margin: 0 auto;
  }

  .or-vertical:before {
    top: 50%;
    content: "OR";
    position: absolute;
    width: 25px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    margin-left: -13px;
    text-align: center;
    padding-top: 7px;
    color: #000;
   transform: translateY(-10px);
    border: 1px solid #ccc;
    font-size: 10px;
  }

  .form-box .form {
    width: 866px;
  }

  .form-box .banner {
    width: 418px;
  }

  .banner-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    height: 328px;
    margin: 0 15px;
  }

  .banner-1 {
    position: relative;
    height: 120px;
    background: #FCB326 0% 0% no-repeat padding-box;
    border-radius: 6px 6px 0px 0px;
  }

  .banner-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #000000 0% 0% no-repeat padding-box;
    border: 4px solid #FFFFFF;
    transform: translate(-50%, 50%);
  }

  .banner-2 {
    text-align: center;
    padding: 10px;
    padding-top: 35%;
  }

  .banner-2 h2 {
    font-size: 24px;
    font: normal normal 300 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #000000;
  }

  .banner-2 p {
    font: normal normal 300 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #000000;
  }

  .round-logo {
    cursor: pointer;
  }

  .material-icons {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 10px;
    display: inline-block;
    background-color: #000;
    border: 1px solid #fff;
  }

  .menu-box {
    overflow: hidden;
  }

  .menu-box ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .menu-box li {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      line-height: 60px;
      padding-left: 0px;
      width: 100%;
      white-space: nowrap;
  }

  .menu-box i {
      color: #9FB1BD;
      margin-right: 13px;
      vertical-align: text-bottom;
  }
